.list {
    list-style: none;
    margin-left: 10px;
}

.Btn {
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #382f5a;
    color:  #c4c4c4;
    border-color: #d4d2db;
    border-radius: 10px;
    margin-top: 15px;
}